---
---

@import "{{ site.theme }}";

.page-header
{
  padding: 0.25rem;
  line-height: 1;
}

@media screen and (min-width: 64em){.project-header{ height: 1.5rem }}
@media screen and (min-width: 42em) and (max-width: 64em){.project-header{ height: 1.5rem }}
@media screen and (max-width: 42em){.project-header{ height: 1.5rem }}

.site-footer
{
  visibility: hidden;
}

.project-name a:hover,
.project-name a:visited,
.project-name a:link,
.project-name a:active
{
  color: white;
  text-decoration: none;
}

.project-name a:hover,
{
  color: white;
  text-decoration: underline;
}
