---
---

@import "{{ site.theme }}";

.page-header
{
  height: 100px;
  padding: 10px;
}

.site-footer
{
  visibility: hidden;
}

.project-name a:hover,
.project-name a:visited,
.project-name a:link,
.project-name a:active
{
  color: white;
  text-decoration: none;
}

.project-name a:hover,
{
  color: white;
  text-decoration: underline;
}
