---
---

@import "{{ site.theme }}";

.page-header
{
  line-height: 1;
  padding-top: 32px;
  padding-bottom: 1px;
  margin:0;
}

.site-footer
{
  visibility: hidden;
}

.project-name a:hover,
.project-name a:visited,
.project-name a:link,
.project-name a:active
{
  color: white;
  text-decoration: none;
}

.project-name a:hover,
{
  color: white;
  text-decoration: underline;
}

.main-content
{
  max-width: 75rem;
}
